h1, p {
font-family: monospace; 
padding-top: 25px;
padding-bottom: 10px;
max-width: 380px;
text-align: center;
color: #EEEEEE;
}

title, h1 {
  text-align: center;
  margin-left: -15px;
}

p {
  margin-top: -10px;  
  padding-bottom: 0px;
  margin-bottom: 10px; 
}



form {
  display: table;
  text-align: center;
  font-family: monospace;
  max-width:430px;
  color: #EEEEEE;
  
}
label {
  display: table-cell;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
input, select {
  display: table-cell;
  width: 343px;
}

input.radio, input.checkbox {
width: auto;
margin-top: -1px;
vertical-align: middle;
}

fieldset, legend {
  border: 0 none;
  padding-top: 20px;
  margin-top: -10px;  
}

fieldset {
  padding-top: 10px;
  width: 350px;
  
}

legend {
  text-align: center;
  padding-top: 20px;
  width: 343px;
  width: auto;
  
  
}

.submit-btn {
  margin-top: 30px;
  max-width: 200px;
}

html {
  background-color: rgba(4, 4, 105, 78%);
  margin: 0;max

}

textarea {
  width: 343px;
  height: 50px;
  margin-top: -5px;
}

div {
  margin-left: -15px;
margin-top: -40px;
}
