h1, p {
font-family: monospace; 
margin: 10px;
padding-top: 25px;
padding-bottom: 10px;
max-width: 455px;
text-align: center;
color: #EEEEEE;
}

p {
  margin-top: -10px;  
  padding-bottom: 0px;
  margin-bottom: 10px; 
}



form {
  display: table;
  text-align: center;
  font-family: monospace;
  max-width: 455px;
  color: #EEEEEE;
  
}
label {
  display: table-cell;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
input, select {
  display: table-cell;
  max-width: 405px;
}

input.radio, input.checkbox {
width: auto;
margin-top: -1px;
vertical-align: middle;
}

fieldset, legend {
  border: 0 none;
  padding-top: 20px;
  margin-top: -10px;  
}

fieldset {
  padding-top: 10px;
  
}

legend {
  text-align: center;
  padding-left: px;
  padding-top: 20px;
  width: 100%;
  
  
}

.submit-btn {
  margin-top: 30px;
  max-width: 200px;
}

html {
  background-color: rgba(4, 4, 105, 78%);
 width:100vh;
margin: 0;
padding: 0;
  
}

textarea {
  width: 400px;
  height: 50px;
  margin-top: -5px;
}

div {
  margin-left: -15px;
margin-top: -40px;
}
